main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}
.space{
    height: 0px;
    margin: 20px 0px;
    width: 100px;
    align-self: center;
    border: 1px solid rgba(218, 18, 18, 0.274);
}

