form{
    display: flex;
    flex-direction: column;
    padding: 45px;
    margin: 30px;
    height: 500px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 1px 3px 1px gray;
}

.image{
    text-align: center;
}

.champ{
    display: flex;
    flex-direction: column;
    position: relative;
}

.champ label{
    font-size: large;
    font-weight: bold;
}

.champ img{
    position: absolute;
    height: 40px;
    top: 28px;
    left: 10px;
}

.saisie{
    justify-self: center;
    margin-top: 20px;
}

.champ input{
    height: 50px;
    font-size: 34px;
    margin-bottom: 20px;
    padding-left: 70px;
}

input.button1{
    position: absolute;
    bottom: 20px;
    left: 35px;
    right: 35px;
    height: 45px;
}


input.button2{
    position: absolute;
    bottom: 20px;
    left: 35px;
    right: 35px;
    height: 45px;
}

.term-compte{
    display: flex;
    justify-content: space-between;
}

.compte{
    text-align: right;
}
